.env
venv
ft_transcendence/__pycache__
ft_transcendence/abstract/__pycache__
frontend/__pycache__
frontend/migrations/__pycache__
frontend/forms/__pycache__
backend/__pycache__
backend/migrations/__pycache__
backend/api_views/__pycache__
backend/room_classes/__pycache__
backend/consumers/__pycache__
